@import "/src/index.css";

a {
	text-decoration: none;
}

.hamburger-menu {
	display: none;
}

header {
	border-bottom: 1px solid lightgray;
	padding: 0px 20px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--primary-color);
	z-index: 100;
}

.main-content {
	margin-top: 100px;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 65px;
	/* background-color: thistle; */
	/* margin: 0px 20px; */
}
.navbar .left {
	display: flex;
	align-items: center;
}
.navbar .left img {
	cursor: pointer;
}
.navbar .right {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar .nav-items {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
	/* border: 1px solid red; */
}

.nav-dropdown i {
	display: none;
	font-size: 10px;
}

.nav-dropdown:hover i {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-items li,
.docs-support li a {
	font-size: 15px;
	/* border: 1px solid red; */
	padding: 0 12px;
	cursor: pointer;
	color: var(--text-light);
	font-weight: lighter;
}

.search {
	color: var(--text-light);
	cursor: pointer;
	font-size: 20px;
	margin-top: 1px;
	position: relative;
	/* border: 1px solid red; */
	height: 2rem;
}
.search i {
	position: absolute;
	right: 5px;
	color: gray;
	text-align: center;
	top: 6px;
	width: 35px;
	height: 35px;
	margin-top: -0.4rem;
	padding-top: 8px;
}
.search i:hover {
	background-color: rgb(233, 233, 233);
	border-radius: 50%;
}
.search-input {
	display: none;
}
.active-search-input {
	display: block;
	border: 1px solid rgb(175, 175, 175);
	outline: none;
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;
	width: 14rem;
	border-radius: 5px;
	transition: all 0.4s ease-in-out;
}
.docs-support ul {
	display: flex;
}

.nav-btns {
	display: flex;
	align-items: center;
}

.nav-btns button,
select {
	width: 5rem;
	height: 2.2rem;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.language {
	display: flex;
	justify-content: center;
	align-items: center;
}

.language button {
	margin-right: 10px;
	color: black;
	background-color: var(--primary-color);
	border: 1px solid lightgray;
}

.language i {
	margin-left: 5px;
}

.console_btn {
	font-size: 14px;
	font-weight: 500;
	color: var(--btn-background);
}

/* sub header */
.sub-header {
	z-index: 99;
	position: fixed;
	top: 64px;
	background-color: #fff;
	/* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
	box-shadow: 0 0 10px 0 gray;
	width: 100%;
	height: 52px;
	background-color: rgb(250, 250, 250);
	display: flex;
	align-items: center;
}

.subheader-btns {
	display: flex;
	align-items: center;
	width: fit-content;
	margin-left: auto;
	margin-right: 1.5rem;
}

.contact,
.guide {
	padding: 8px 15px;
	cursor: pointer;
	font-weight: 500;
}

.contact {
	margin-right: 10px;
	border: none;
	background-color: var(--primary-color);
	border: 1px solid rgb(209, 209, 209);
	border-radius: 3px;
	color: var(--btn-background);
}
.contact:hover {
	background-color: rgb(255, 244, 244);
	border-color: var(--btn-background);
}
.guide {
	/* background-color: var(--secondary-color); */
	background-color: var(--btn-background);
	border: 1px solid var(--btn-background);
	color: var(--primary-color);
	border-radius: 3px;
}
.guide:hover {
	background-color: var(--btn-hover);
}
.hamburger-open {
	display: none;
}
.left .sidebar {
	position: absolute;
	left: 0;
	top: 0;
	background-color: var(--primary-color);
	height: 100vh;
	width: 250px;
	box-shadow: 0 0 5px 0 gray;
	overflow-y: scroll;
	transform: translate(-100%);
	transition: transform 0.3s ease-in;
}

/* media queries */
@media (max-width: 1200px) {
	header .logo {
		/* color: red; */
		margin-left: 20px;
	}
	.docs-support ul {
		display: none;
	}
	.language button {
		display: none;
	}
}

@media (max-width: 950px) {
	nav {
		display: none;
	}
	.hamburger-open {
		display: block;
		cursor: pointer;
	}
	.sidebar-menu {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		cursor: pointer;
		margin: 15px 0px 8px 0;
		padding-bottom: 1rem;
		border-bottom: 1px solid lightgray;
	}

	.sidebar-dropdown {
		display: flex;
		justify-content: space-between;
		margin-top: 2rem;
	}
	.sidebar-dropdown ul li .link {
		/* border: 1px solid red; */
		display: flex;
		justify-content: space-between;
		padding-left: 1rem;
		padding-right: 1rem;
		margin-bottom: 2rem;
		color: gray;
		font-size: 15px;
		width: 15rem;
	}
	.sidebar-dropdown ul li .link:hover {
		color: black;
	}

	.sidebar-title {
		display: block;
	}
	.navbar .left .active-sidebar {
		transform: translate(0);
	}

	.sidebar-icon {
		padding: 5px;
		font-size: 30px;
	}
	.sidebar-icon:hover {
		background-color: rgb(224, 224, 245);
		padding: 5px;
		border-radius: 50%;
		transition: all 0.2s ease;
	}

	.sidebar::-webkit-scrollbar {
		width: 10px;
	}

	.sidebar::-webkit-scrollbar-track {
		display: none;
	}

	.sidebar::-webkit-scrollbar-thumb {
		background-color: rgb(216, 216, 216);
		border-radius: 20px;
	}
}

@media (max-width: 600px) {
	.console button {
		display: none;
	}
}
